@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Asegúrate de que tu archivo HTML esté vinculado correctamente a este archivo CSS */

* {margin: 0; padding: 0;}

body {
    padding: 0;
    margin: 0;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    position: relative;
}

.navbar a::before, .navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.navbar a::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar a::after {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.navbar a:hover::before, .navbar a:hover::after {
    width: 100%;
}

.navbar a.active::after {
    width: 100%;
    right: 0;
    transform: none;
}

/* Estilos responsivos */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.menu-icon span {
    background-color: white;
    height: 2px;
    width: 25px;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .navbar.active {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-icon.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}