.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Tamaño de icono preferido */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Soporte para todos los navegadores WebKit. */
    -webkit-font-smoothing: antialiased;
    /* Soporte para Safari y Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Soporte para Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Soporte para IE. */
    font-feature-settings: 'liga';
}

body{
    min-width: 400px; /* Establece el ancho mínimo */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.search-bar{
    border: solid 1px #ccc;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin: 45vh auto;
}

.search-bar:focus-within{
    border: solid 1px mediumpurple;
    box-shadow: 2px 2px 5px rgba(128, 83, 136, 0.5);
}

.search-bar input{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    flex: auto;
}

.search-bar .actions{
    display: flex;
    gap: 5px;
}

.search-bar .actions button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #ccc;
}

.search-bar .actions button:hover{
    color: mediumpurple;
}
